<!DOCTYPE html>
<html>
    <head>
        <title>Kalpana 2019 Timer</title>
        <link rel="stylesheet" href="main.css" />
        <link href="https://fonts.googleapis.com/css?family=Exo+2|Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    </head>
    <body>
<table cellpadding="0" cellspacing="0">
   <tr>
      <td align="left">
            <div class="box">
                    <h2 style="font-family: 'Exo 2',sans-serif;" id="timertext">Timer Left</h2>
                    <h3 style="font-family: 'Exo 2',sans-serif;" id="timer"></h3>
                    </div>
      </td>
   </tr>
</table>
        <!-- <center> -->
        <% var l = last; %>
        <% var n = now; %>
            <!-- </center> -->
            <script>
                var deadline = <%= l %>; 
                var nowt = <%= n %>;
                var x = setInterval(function() {  
                var t = deadline - nowt; 
                nowt = nowt+1000;
                t = t/1000;
                console.log(t);
                // var days = Math.floor(t / (1000 * 60 * 60 * 24)); 
                // var hours = Math.floor((t%(1000 * 60 * 60 * 24))/(1000 * 60 * 60)); 
                var hours = Math.floor(t/(60*60));
                t = t-(hours*60*60); 
                // var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60)); 
                var minutes = Math.floor(t/(60));
                t = t-(minutes*60); 
                // var seconds = Math.floor((t % (1000 * 60)) / 1000);
                var seconds = Math.floor(t);
                // console.log(seconds);
                if(seconds<10){
                    seconds="0"+seconds;
                    }
                if(hours<10){
                    hours="0"+hours;
                    }
                if(minutes<10){
                    minutes="0"+minutes;
                    }
                document.getElementById("timer").innerHTML = hours + ":" + minutes + ":" + seconds; 
                    if (t < 0) { 
                        clearInterval(x); 
                        document.getElementById("timertext").style.display = "none";
                        document.getElementById("timer").innerHTML = "Time's Up!"; 
                    } 
                }, 1000);
            </script>
    </body>
</html>
